.text{
    font-family: 'Hind', sans-serif;
    font-size: 18px;
}
body{
    background-image: linear-gradient(to right,#ff9900,#bfff00);
}

.top img{
    float:right;
    margin-top: -100px;
    width: 50%;
    margin-left: 10px;
}
#name{
    font-size: 50px;
    margin-left: 15%;
    font-family: 'Anton', sans-serif;
}
.subtitle{
    font-family: 'Playfair Display', serif;
}
.portfolio img{
    display: block;
    width: 400px;
}
.skills{
    float: right;
}
.superSubtitle{
    color: black;
    opacity: 60%;
}
#topSkills{
    font-style: italic;
    margin-right: 600px;
}